* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --dark-purple-background: #0f0a1a;
    --light-dark-purple-background: #181025;
    
}